*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart_empty{
    width: 1000px;
    height: 500px;
   // border: 1px solid #000;
    text-align: center;
    margin: 0 auto;
    background: rgb(207, 202, 202);
    overflow: hidden;

   h3,h4{
       font-size: 40px;
       margin-top: 100px;
        a{
            font-style: italic;
           color: rgb(129, 87, 94);
       }
   }
}

#cart_list{
    width: 1000px;
    margin: 50px auto;
    min-height: 50px;
    text-align: center;
    thead tr th{
        text-align: center;
    }
   #tbody td{
        height: 46px;
        line-height: 50px ;
   }
   #tbody .input-group{
       padding-top: 15px;
       .amount{
           text-align: center  ;
       }
   }
   tfoot{
       height:50px;
       font-size: 15px;
       font-weight: 700;
      // border: 1px solid #000;
   }

}
tbody tr td img{
    width: 46px;
}