*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart_empty{
    width: 1000px;
    height: 500px;
   // border: 1px solid #000;
    text-align: center;
    margin: 0 auto;
    background: rgb(207, 202, 202);
    overflow: hidden;

   h3,h4{
       font-size: 40px;
       margin-top: 100px;
        a{
            font-style: italic;
           color: rgb(129, 87, 94);
       }
   }
}
#shooping-step{
    width: 1000px;
    height: 50px;
    margin: 50px auto;

    ul{
        width: 600px;
        height: 50px;
        li,span{
            float: left;
            height: 50px;
            line-height: 50px;
            
        }
        li{
            width: 110px;
            text-align: center;
            font-size: 15px;
            background: #a7a9ac;
        }
        span{
            width: 50px;
            height: 50px;
            display: inline-block;
            background: url(../images/home_105.jpg ) no-repeat center center ;
        }
    }
    
}
#cart_list{
    width: 1000px;
    margin: 50px auto;
    min-height: 50px;
    text-align: center;
    thead tr th{
        text-align: center;
    }
   #tbody td{
        height: 46px;
        line-height: 50px;
   }
   #tbody .input-group{
       padding-top: 15px;
       .amount{
           text-align: center  ;
       }
   }
   tfoot{
       height:50px;
       font-size: 15px;
       font-weight: 700;
       
      // border: 1px solid #000;
      .goon{
          width: 60px;
          height: 30px;

         // border: 1px solid #000;
      }
   }

}
tbody tr td img{
    width: 46px;
} 
.safeguard{
    height: 50px;
    background: rgb(223, 218, 218);
    line-height: 50px;
    span{
        color:#851d13;
        font-size: 14px;
        display: inline-block;
    }
    .sa1{
        background: url(/images/icon_official.png) no-repeat 106px center;
    }
    .sa2{
        background: url(/images/icon_free.png) no-repeat 106px center;
    }
    .sa3{
        background: url(/images/icon_security.png) no-repeat 106px center;
    }
    
}