* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart_empty {
  width: 1000px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background: #cfcaca;
  overflow: hidden;
}

.cart_empty h3, .cart_empty h4 {
  font-size: 40px;
  margin-top: 100px;
}

.cart_empty h3 a, .cart_empty h4 a {
  font-style: italic;
  color: #81575e;
}

#shooping-step {
  width: 1000px;
  height: 50px;
  margin: 50px auto;
}

#shooping-step ul {
  width: 600px;
  height: 50px;
}

#shooping-step ul li, #shooping-step ul span {
  float: left;
  height: 50px;
  line-height: 50px;
}

#shooping-step ul li {
  width: 110px;
  text-align: center;
  font-size: 15px;
  background: #a7a9ac;
  color: white;
}

#shooping-step ul li:nth-of-type(1) {
  background: #ba2620;
}

#shooping-step ul span {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url(../images/home_105.jpg) no-repeat center center;
}

#cart_list {
  width: 1000px;
  margin: 50px auto;
  min-height: 50px;
  text-align: center;
}

#cart_list thead tr th {
  text-align: center;
}

#cart_list #tbody td {
  height: 46px;
  line-height: 50px;
}

#cart_list #tbody .input-group {
  padding-top: 15px;
}

#cart_list #tbody .input-group .amount {
  text-align: center;
}

#cart_list tfoot {
  height: 50px;
  font-size: 15px;
  font-weight: 700;
}

#cart_list tfoot .goon {
  width: 60px;
  height: 30px;
}

tbody tr td img {
  width: 46px;
}

.safeguard {
  height: 50px;
  background: #dfdada;
  line-height: 50px;
}

.safeguard span {
  color: #851d13;
  font-size: 14px;
  display: inline-block;
}

.safeguard .sa1 {
  background: url(/images/icon_official.png) no-repeat 106px center;
}

.safeguard .sa2 {
  background: url(/images/icon_free.png) no-repeat 106px center;
}

.safeguard .sa3 {
  background: url(/images/icon_security.png) no-repeat 106px center;
}
