* {
  margin: 0;
  padding: 0;
}

#shooping-step {
  width: 1000px;
  height: 50px;
  margin: 50px auto;
}

#shooping-step ul {
  width: 600px;
  height: 50px;
}

#shooping-step ul li, #shooping-step ul span {
  float: left;
  height: 50px;
  line-height: 50px;
}

#shooping-step ul li {
  width: 110px;
  text-align: center;
  font-size: 15px;
  background: #a7a9ac;
  color: white;
}

#shooping-step ul li:nth-of-type(2) {
  background: #ba2620;
}

#shooping-step ul span {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url(../images/home_105.jpg) no-repeat center center;
}

.write {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  border-top: 1px solid #7c0d02;
  border-bottom: 4px solid #7c0d02;
  padding-left: 10px;
  color: #7c0d02;
}

.warm_data {
  width: 1000px;
  min-height: 520px;
  margin: 0 auto;
  margin-top: 10px;
}

.warm_data .data {
  width: 980px;
  height: 490px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 0 10px;
}

.warm_data .data .p1 {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #7c0d02;
  color: #670205;
}

.warm_data .data .add_addr {
  height: 80px;
  border-top: 4px solid #ddc4c5;
}

.warm_data .data .add_addr h4 {
  width: 140px;
  height: 40px;
  background: #7c0d02;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.warm_data .data table {
  width: 958px;
  height: 300px;
}

.warm_data .data table tbody th {
  height: 20px;
  width: 150px;
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
  font-size: 17px;
}

.warm_data .data table td input {
  width: 500px;
  height: 30px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.warm_data .data table .name td input {
  width: 150px;
}

.warm_data .data table .addr td input {
  width: 70px;
}

.warm_data .data table .detal_addr td input {
  width: 470px;
}

.warm_data .data table .pid td input {
  width: 100px;
}

.warm_data .data table .phone td input {
  width: 200px;
}

.warm_data .data table .fixed_phone td input {
  width: 200px;
}

.warm_data .data table .time td input {
  width: 120px;
}

.warm_data .data table span {
  color: #7c0d02;
}

.warm_data .data .confirm_addr {
  height: 80px;
}

.warm_data .data .confirm_addr h4 {
  width: 140px;
  height: 40px;
  background: #7c0d02;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.warm_data .send, .warm_data .pay {
  width: 980px;
  height: 100px;
  margin: 20px auto;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.warm_data .send p, .warm_data .pay p {
  height: 60px;
  border-bottom: 1px solid #7c0d02;
  line-height: 60px;
  color: #670205;
}
