.middle{
	width: 1100px;
	height: 1100px;
	margin: 0 auto;
	.login_top{
		width: 100%;
		height: 259px;
		padding: 30px 10px;
		img{
			width: 187px;
			height: 196px;
			margin: 0 10px;
		}
	}
	.login_bottom{
		width: 100%;
		height: 920px;
		.leftwrap{
			width: 480px;
			height: 800px;
			float: left;
		}
		.bt_left{
			width: 480px;
			height: 470px;
			border: 1px solid #888;
			text-align: center;
			/* float: left; */
			h3{
				font-weight: normal;
				font-size: 18px;
				margin-top: 30px;
				margin-bottom: 15px;
			}
			h3+p{
				font-size: 14px;
				margin-bottom: 10px;
			}
			.username ,.password{
				width: 180px;
				height: 25px;
				margin: 10px 0;
			}
			p{
				line-height: 25px;
			}
			h6{ font-weight: normal;
				text-align: left;
				margin-top: 20px;
				height: 20px;
			}
			h6+p{
				text-align: left;
				font-size: 12px;
				width: 100%;
				height: 120px;
				border-top: 1px solid #888;
				border-bottom: 1px solid #888;
				padding: 10px 5px;
				line-height: 30px;
				a{
					color: #5E7AEB;
				}
				
			}
			.check{
				margin: 20px 0;
			}
			.denglu{
				display: block;
				width: 100px;
				height: 30px;
				background: #910606;
				line-height: 30px;
				color: white;
				margin: 0 auto;
			}
		}
	}
}
.wjmm{
	width: 270px;
	height: 150px;
	margin-top: 30px;
	margin-left: 20px;
	padding: 20px 10px;
	box-shadow: 0px 0px 20px #B09292;
	a{
		font-size: 13px;
	}
	p{
		margin: 5px 0;
	}
	.wj{
		margin-bottom: 10px;
		border-bottom: 1px solid #CFCDCD;
	}
	.wj a{
		font-size: 15px;
		font-weight: bold;
		color: #E15A7D;
	}
	
	.wj+p{
		font-size: 13px;

	}

}
.bt_right{
	width: 550px;
	height: 800px;
	border: 1px solid #888;
	float: right;
	text-align: center;
	font-size: 14px;
	h3{
		font-size: 18px;
		font-weight: normal;
		margin-top: 30px;
	}
	.p1{
		margin: 10px 0;
	}
	input{
		width: 180px;
		height: 25px;
		margin: 10px 0;
	}
	.p2 i{
color: #CA5B5B;
	}
	.vcode{
		width: 80px;
	}
	.p3 a{
		color: #5E7AEB;
	}
	.yan{
		width: 180px;
		height: 40px;
		margin: 0 auto;
		text-align: left;
		.code{
			width: 100px;
		}
		.send{
		color: #5E7AEB;

		}

	}
	.p4{
		margin-top: 15px;
	}
	.sex{
		width: 12px;
		height: 12px;
	}
	.p5{
		text-align: left;
		margin-top: 20px;
		width: 100%;
		height: 50px;
		line-height: 50px;
		border-top: 1px dotted #888;
	}
	.tiaokuan{
		width: 540px;
		height: 80px;
		margin: 0 auto;
		overflow: auto;
		border: 1px solid #888;
		text-align: left;
		text-indent: 2em;
	}
	.read{
		width: 12px;
		height: 12px;
		margin-right: 3px;
		margin-left: 290px;
	}
	.p6 a{
		margin-top: 15px;
		display: inline-block;
		line-height: 30px;
		color: white;
		width: 100px;
		height: 30px;
		background-color: #910606;
	}
}