.middle {
  width: 1100px;
  height: 1100px;
  margin: 0 auto; }
  .middle .login_top {
    width: 100%;
    height: 259px;
    padding: 30px 10px; }
    .middle .login_top img {
      width: 187px;
      height: 196px;
      margin: 0 10px; }
  .middle .login_bottom {
    width: 100%;
    height: 920px; }
    .middle .login_bottom .leftwrap {
      width: 480px;
      height: 800px;
      float: left; }
    .middle .login_bottom .bt_left {
      width: 480px;
      height: 470px;
      border: 1px solid #888;
      text-align: center;
      /* float: left; */ }
      .middle .login_bottom .bt_left h3 {
        font-weight: normal;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 15px; }
      .middle .login_bottom .bt_left h3 + p {
        font-size: 14px;
        margin-bottom: 10px; }
      .middle .login_bottom .bt_left .username, .middle .login_bottom .bt_left .password {
        width: 180px;
        height: 25px;
        margin: 10px 0; }
      .middle .login_bottom .bt_left p {
        line-height: 25px; }
      .middle .login_bottom .bt_left h6 {
        font-weight: normal;
        text-align: left;
        margin-top: 20px;
        height: 20px; }
      .middle .login_bottom .bt_left h6 + p {
        text-align: left;
        font-size: 12px;
        width: 100%;
        height: 120px;
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;
        padding: 10px 5px;
        line-height: 30px; }
        .middle .login_bottom .bt_left h6 + p a {
          color: #5E7AEB; }
      .middle .login_bottom .bt_left .check {
        margin: 20px 0; }
      .middle .login_bottom .bt_left .denglu {
        display: block;
        width: 100px;
        height: 30px;
        background: #910606;
        line-height: 30px;
        color: white;
        margin: 0 auto; }

.wjmm {
  width: 270px;
  height: 150px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 20px 10px;
  box-shadow: 0px 0px 20px #B09292; }
  .wjmm a {
    font-size: 13px; }
  .wjmm p {
    margin: 5px 0; }
  .wjmm .wj {
    margin-bottom: 10px;
    border-bottom: 1px solid #CFCDCD; }
  .wjmm .wj a {
    font-size: 15px;
    font-weight: bold;
    color: #E15A7D; }
  .wjmm .wj + p {
    font-size: 13px; }

.bt_right {
  width: 550px;
  height: 800px;
  border: 1px solid #888;
  float: right;
  text-align: center;
  font-size: 14px; }
  .bt_right h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px; }
  .bt_right .p1 {
    margin: 10px 0; }
  .bt_right input {
    width: 180px;
    height: 25px;
    margin: 10px 0; }
  .bt_right .p2 i {
    color: #CA5B5B; }
  .bt_right .vcode {
    width: 80px; }
  .bt_right .p3 a {
    color: #5E7AEB; }
  .bt_right .yan {
    width: 180px;
    height: 40px;
    margin: 0 auto;
    text-align: left; }
    .bt_right .yan .code {
      width: 100px; }
    .bt_right .yan .send {
      color: #5E7AEB; }
  .bt_right .p4 {
    margin-top: 15px; }
  .bt_right .sex {
    width: 12px;
    height: 12px; }
  .bt_right .p5 {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px dotted #888; }
  .bt_right .tiaokuan {
    width: 540px;
    height: 80px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #888;
    text-align: left;
    text-indent: 2em; }
  .bt_right .read {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 290px; }
  .bt_right .p6 a {
    margin-top: 15px;
    display: inline-block;
    line-height: 30px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: #910606; }
